/* src/components/LogoBar.css */

.logo-bar-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    background-color: black;
    padding: 10px;
    padding-top: 60px;
  }
  
  .logo-track {
    display: flex;
    align-items: center;
    animation: scroll 20s linear infinite;
  }
  
  .logo-wrap {
    flex: 0 0 auto;
    margin-right: 30px;
  }
  
  .logo {
    width: 60px;
    height: 60px;
    opacity: 0.9;
    transition: opacity 0.5s ease;
  }
  /* Sur mobile : animation plus rapide */
@media (max-width: 768px) {
  .logo-track {
    animation-duration: 10s !important; /* plus rapide (ajuste si tu veux encore plus) */
  }
}
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  