.App {
  text-align: center;
  
}

/* Animation des éléments */
.fade-in-up {
  opacity: 1;
  transform: translateY(30px);
  transition: all 0.8s ease-out;
}

.fade-in-up.visible {
  opacity: 1;
  transform: translateY(0);
}

/* Style pour le logo et les autres éléments */
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
html, body {
  width: 100vw !important;
  max-width: 100vw !important;
  overflow-x: hidden !important;
  margin: 0;
  padding: 0;
}
body.mobile-menu-open {
  overflow: hidden !important;
  position: relative;
  height: 100vh !important;
}


/* Keyframes */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
  
}
